* {
    display: block;
    font-family: Arial;
}
student {
    padding: 20px;
    width: fit-content;
}
usn {
    font-weight: bold;
    font-size: large;
}
email {
    font-style: italic;
    color: grey;
    font-family: 'Times New Roman';
}

college {
    background-color:red ;
    color: white;
    padding: 8px;
    float: left;
}

branch {
    background-color: blue;
    color: white;
    padding: 8px;
    float: right;
}